<div class="signin-container">
    <div class="signin">
        <div class="logo">
            <img src="https://about.google/assets-stories-2021/img/glue-google-color-logo.svg">
        </div>
        <div class="heading">Sign in</div>
        <div class="subheading">to continue to Gmail</div>
        <!-- TODO: split this form up into two components: 'identifier' and 'challenge' -->
        <form [formGroup]="signinForm" (ngSubmit)="submit()"
              class="">
            <!-- TODO: styling -->
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email"
                       id="signinEmail" name="email" formControlName="email">
                <!--<div class="signinEmail">Email</div>-->
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password"
                       id="signinPassword" name="password" formControlName="password">
            </div>

            <div class="form-helpmsg">
                Not your computer? Use a Private Window to sign in.
                <a href="">Learn more</a>
            </div>

            <div class="formend">
                <a routerLink="/signup">Create account</a>
                <button class='btn-submit'>Next</button>
            </div>
        </form>
    </div>
</div>
