<div class="bg-white rounded-4 email-list">
    <div style="height: 100px;">
    </div>
    <table>
        <tbody>
            <tr *ngFor="let email of emails$ | async">
                <td><div class="checkbox"></div></td>
                <td><div class="star"></div></td>
                <td class="sender" (click)="goto(email._id)">
                    <div class="tdcontent">
                        {{email.sender.substring(0, email.sender.indexOf('@'))}}
                    </div>
                </td>
                <td class="mail" (click)="goto(email._id)">
                    <div class="tdcontent">
                        {{email.subject}} <span class="body">- {{email.body}}</span>
                    </div>
                </td>
                <td class="date" (click)="goto(email._id)">
                    {{dateFormat(email.date)}}
                </td>
            </tr>
        </tbody>
    </table>
    <app-footer></app-footer>
</div>
