<div class="footercontainer">
    <div class="footeritem">
        <div class="bar"></div>
        <div>
            0.29 GB of 15 GB used
            <img class="drivelink" src="https://www.gstatic.com/images/icons/material/system_gm/1x/launch_gm_grey_18dp.png">
        </div>
    </div>
    <div class="footeritem centeritem">Term · Privacy · Program Policies</div>
    <div class="footeritem rightitem">
        <div>Last account activity: 3 minutes ago</div>
        <span>Details</span>
    </div>
</div>
