<header class="container-fluid">
    <div class="leftitem">
        <div class="menu">
            <svg focusable="false" viewBox="0 0 24 24">
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </svg>
        </div>
        <img
        src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r5.png">
    </div>
    <div>
        <form>
            <button class="searchbtn" disabled>
                <svg focusable="false" height="24px"
                     viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20.49,19l-5.73-5.73C15.53,12.2,16,10.91,16,9.5C16,5.91,13.09,3,9.5,3S3,5.91,3,9.5C3,13.09,5.91,16,9.5,16 c1.41,0,2.7-0.47,3.77-1.24L19,20.49L20.49,19z M5,9.5C5,7.01,7.01,5,9.5,5S14,7.01,14,9.5S11.99,14,9.5,14S5,11.99,5,9.5z"></path>
                    <path d="M0,0h24v24H0V0z" fill="none"></path>
                </svg>
            </button>
            <div class="searchbar">
                <input type="text" class="form-control" placeholder="Search mail">
            </div>
            <button class="searchoptions" disabled>
                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                     height="24" viewBox="0 0 24 24">
                    <path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"></path>
                </svg>
            </button>
        </form>
    </div>
    <div class="signouttoggle" (click)="toggle()">
        <img src=
"https://cdn3.iconfinder.com/data/icons/social-messaging-productivity-6/128/profile-circle2-512.png" height="32" width="32">
    </div>
    <div class="signout" [ngClass]="{'hidden' : !visible}">
        <div class="placeholder"></div>
        <div style="display:flex; justify-content: center;">
            <button class="signoutbtn btn btn-outline-secondary" (click)="signout()">Sign out</button>
        </div>
        <div class="placeholder"></div>
    </div>
</header>
