<div class="btnbar" style="height: 48px;">
    <a routerLink=".."><div class="backbtn"></div></a>
    <div class="trashbtn" (click)="trash()"></div>
    <div class="labelbtn" [ngClass]="{'activebtn': labelprompt}"
         (click)="togglelabelprompt()"></div>
    <div class="labelupdater" [ngClass]="{'hidden': !labelprompt}">
        <div class="labelupdaterheader">
            Label as:
        </div>
        <div class="seperator"></div>
        <div class="labelupdaterform">
            <div *ngFor="let label of labels$ | async">
                <input type="checkbox" value="{{label}}" name="{{label}}"
                       (change)="togglecheckbox($event)">
                <label for="{{label}}">{{label}}</label>
            </div>
            <div class="seperator"></div>
            <div>
                <input type="checkbox" value="inbox" name="inbox"
                       (change)="togglecheckbox($event)">
                <label for="inbox">Inbox</label>
            </div>
        </div>
        <div class="seperator"></div>
        <div class="labelupdatersubmit">
            <button (click)="submit()">Apply</button>
        </div>
    </div>
</div>
<div>
    <div class="subjectline">
        <h2>{{(email$ | async).subject}}</h2>
    </div>
    <div class="emailmainview">
        <div class="userpicture">
            <img class="profile" src="https://lh3.googleusercontent.com/a/default-user=s40-p">
        </div>
        <div class="emailmaincontent">
            <div class="emailsender">
                <b>{{(email$ | async).sender.substring(0, (email$ | async).sender.indexOf('@'))}}</b>
                <span class="fullemail"> <{{(email$ | async).sender}}></span>
            </div>
            <div class="emailrecipient">
                to {{((email$ | async).labels.includes('inbox')) ? 'me' : (email$ | async).recipients[0].substring(0, (email$ | async).recipients[0].indexOf('@'))}}
            </div>
            <div></div>
            <div class="emailbody" >
                {{(email$ | async).body}}
            </div>
        </div>
    </div>
</div>
