<div class="compose">
    <div class="compose-btn">Compose</div>
</div>
<ul>
    <a routerLink="/mail/inbox">
        <li [ngClass]="{'primaryselected': (curlabel$ | async) == 'inbox'}">
            <div class="inbox"></div><b>Inbox</b>
        </li>
    </a>

    <a routerLink="/mail/starred">
        <li [ngClass]="{'primaryselected': (curlabel$ | async) == 'starred'}">
            <div class="starred"></div>Starred
        </li>
    </a>

    <a routerLink="/mail/sent">
        <li [ngClass]="{'primaryselected': (curlabel$ | async) == 'sent'}">
            <div class="sent"></div>Sent
        </li>
    </a>

    <a routerLink="/mail/trash">
    <li [ngClass]="{'primaryselected': (curlabel$ | async) == 'trash'}">
        <div class="trash"></div>Trash
    </li>
    </a>
</ul>

<div class="customlabelsheader">
    Labels
    <div class="newlabelbtn" (click)="showlabelprompt()"></div>
</div>
<ul>
    <a *ngFor="let label of labels$ | async" routerLink="/mail/{{label}}">
        <li [ngClass]="{'secondaryselected': (curlabel$ | async) == label}">
            <div class="custom"></div>{{label}}
            <!-- TODO: make this open an actual drop down menu instead of directly deleting -->
            <div class="labelmenu" (click)="deleteLabel(label)"></div>
        </li>
    </a>
</ul>

<div class="newlabelformbackground" [ngClass]="{'hidden': !labelprompt}">
</div>

<div class="newlabelform" [ngClass]="{'hidden': !labelprompt}">
    <div class="formheader">New label</div>
    <div class="labelinput">
        <div>
            <label for="labelname">Please enter a new label name</label>
        </div>
        <input type="text" id="labelname" [formControl]="labelname">
    </div>
    <div class="labelbtns">
        <button class="ok" (click)="createLabel()">Create</button>
        <button class="cancel" (click)="hidelabelprompt()">Cancel</button>
    </div>
</div>
