.compose {
    display: block;
    margin-top: 8px;
    margin-bottom: 16px;
    padding-left: 8px;
}

.compose-btn {
    display: inline-flex;
    padding-right: 20px;
    background-color: #c2e7ff;
    height: 56px;
    min-width: 96px;
    text-align: center;
    border-radius: 16px;
    align-items: center;
    font-size: .875rem;
    font-weight: 500;
}

.compose-btn::before {
    background-image:
        url('https://www.gstatic.com/images/icons/material/system_gm/1x/create_black_24dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 20px;
    width: 20px;
    min-width: 56px;
    content: "";
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    font-size: .875rem;
    border-radius: 0 16px 16px 0;
    height: 32px;
    align-items: center;
    padding-right: 12px;
    padding-left: 26px;
}

a {
    text-decoration: none;
    color: inherit;
}

@mixin labelicon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    content: "";
    margin-right: 18px;
}

.inbox {
    @include labelicon;
    background:
        url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/inbox_baseline_nv700_20dp.png');
}

.starred {
    @include labelicon;
    background:
        url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_baseline_nv700_20dp.png');
}

.sent {
    @include labelicon;
    background:
        url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/send_baseline_nv700_20dp.png');
}

.trash {
    @include labelicon;
    background:
        url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/delete_baseline_nv700_20dp.png');
}

.primaryselected {
    font-weight: 600;
    background-color: #d3e3fd;
    .inbox {
      background-image:
      url('//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/inbox_fill_baseline_p900_20dp.png');
    }
    .starred {
      background-image:
      url('https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/star_fill_baseline_p900_20dp.png');
    }
    .sent {
      background-image:
      url('https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/send_fill_baseline_p900_20dp.png');
    }
    .trash {
      background-image:
      url('https://ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/delete_fill_baseline_p900_20dp.png');
    }
}

.secondaryselected {
    font-weight: 600;
    background-color: #e1e3e1;
}

.custom {
    @include labelicon;
    background:
url('https://www.gstatic.com/images/icons/material/system_gm_filled/1x/label_gm_grey_24dp.png') center/contain
}

.customlabelsheader {
    font-size: 16px;
    font-weight: 550;
    padding-left: 26px;
    padding-top: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
}

.hidden {
    visibility: hidden
}

li:hover:not([class*="selected"]) {
    background-color: #eee;
}

li:hover {
    .labelmenu {
        background-image:
       url(https://www.gstatic.com/images/icons/material/system_gm/1x/more_vert_black_20dp.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        height: 32px;
        width: 32px;
        margin-left: auto;
        margin-right: -12px;
    }
}

.labelmenu:hover, .newlabelbtn:hover {
    background-color: rgba(32,33,36,0.059);
    border-radius: 50%;
}

.newlabelbtn {
    background-image:
        url(//ssl.gstatic.com/ui/v1/icons/mail/gm3/1x/add_large_baseline_nv700_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 32px;
    width: 32px;
    display: inline-block;
    float: right;
    margin-top: -4px;
    margin-right: -8px;
    //padding-top: 8px;
}

$lblfrmwidth: 504px;
$lblfrmheight: 200px;

.newlabelformbackground {
    height: 100vh;
    width: 100vw;
    background-color: rgba(32,33,36,0.6);
    position: fixed;
    top: 0;
    opacity: 0.75;
}

.newlabelform {
    position: absolute;
    left: calc(50vw - $lblfrmwidth/2);
    top: calc(50vh - $lblfrmheight/2);
    width: $lblfrmwidth;
    height: $lblfrmheight;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 14%),
                0px 3px 1px -2px rgb(0 0 0 / 12%),
                0px 1px 5px 0px rgb(0 0 0 / 20%);

    .formheader {
        padding: 24px 24px 16px;
        font-size: 1.375rem;
        color: #212121;
        line-height: 24px;
    }

    .labelinput {
        padding: 0 24px;
        label {
            color: #5f6368;
            font-size: .875rem;
        }
        input {
            width: 415px;
        }
    }
}

.labelbtns {
    display: flex;
    flex-direction: row-reverse;
    padding: 24px;
    button.ok {
        background-color: #1a73e8;
        color: #fff;
    }
    button.cancel {
        color: #444746;
        background-color: #fff;
    }
    button.cancel:hover {
        background-color: #e0e0e0;
    }
    button {
        font-weight: 500;
        margin: 0 0 0 8px;
        font-weight: 500;
        height: 36px;
        min-width: 80px;
        outline: none;
        border: none;
        padding: 0 16px;
        font-size: .875rem;
        border-radius: 99999px;
    }
}
