<div class="composeheader">
    <div>New Message</div>
</div>
<div class="composemain">
    <form>
        <div class="form-group">
            <input type="text" placeholder="Recipients">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Subject">
        </div>
        <div class="composebody">
            <textarea></textarea>
        </div>
    </form>
</div>
<div class="composebar">
    <button class="sendbtn">Send</button>
    <div class="deletedraft" (click)="closeComposer()"></div>
</div>
