<div class="composeheader">
    <div>New Message</div>
</div>
<div class="composemain">
    <form [formGroup]="form">
        <div class="form-group">
            <input type="text" placeholder="Recipients" autocomplete="off"
                   name="recipients" formControlName="recipients">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Subject" autocomplete="off"
                   name="subject" formControlName="subject">
        </div>
        <div class="composebody">
            <textarea name="body" formControlName="body">
            </textarea>
        </div>
    </form>
</div>
<div class="composebar">
    <button class="sendbtn" (click)="submit()">Send</button>
    <div class="deletedraft" (click)="closeComposer()"></div>
</div>
